/* Global font wrapper */
.global-font {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;

  letter-spacing: 0.2px;
}

/* Headings = Bebas Neue */
.global-font h1,
.global-font h2,
.global-font h3,
.global-font .section-title {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1.2px;
}
